{% extends "posts/base.html" %}
{% block content %}
  {% block post %}{% endblock %}
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"l, F dS, Y, P T" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        {% if post.video %}
          <a href="{% url 'post-detail' post.id %}">
            <img src="{{ post.video_thumbnail.url }}" width="160" height="90">
          </a>
        {% endif %}
        <p class="article-content break-words">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
  {% if is_paginated %}

    <!-- Add prev and first links if not already on first -->
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <!-- Add in pages around the current page -->
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>    
      {% endif %}
    {% endfor %}

    <!-- Add in the last if not at the end already -->
    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}
{% block sidebar %}
  <!-- <div class="col-md-3">
    <div class="content-section">
      <h3>Our Sidebar</h3>
      <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>
  </div> -->
{% endblock sidebar %}