[Unit]
Description=CoLTE WebGui

[Service]
ExecStart=/bin/bash -c "/home/colte/colte/webservices/node/bin/www >> /var/log/colte/webgui.log 2>&1"
Restart=always
User=colte
Group=colte  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/colte/colte/webservices/node

[Install]
WantedBy=multi-user.target
