[Unit]
Description=CoLTE WebGui

[Service]
ExecStart=/bin/bash -c "/home/vagrant/colte/lte_extras/webgui/bin/www >> /var/log/colte/webgui.log 2>&1"
Restart=always
User=vagrant
Group=vagrant
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/vagrant/colte/lte_extras/webgui

[Install]
WantedBy=multi-user.target
