[Unit]
Description=CoLTE SPGW NAT to Internet
After=network.target colte-spgw.service
Requires=network.target colte-spgw.service
PartOf=colte-epc.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/spgw_nat.sh"
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
