.center {
  text-align: center;
  vertical-align: middle;
}

.editable:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
  background-color: rgb(229, 226, 229);
}

.invisible {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
