.active {
    font-weight: 700;
    background-color: #f7f7f7;
}

.invisible {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.error {
    color: red;
    display: block;
    line-height: 1.25;
}