[Unit]
Description=CoLTE HSS

[Service]
ExecStart=/bin/bash -c "/home/colte/colte/epc/scripts/run_hss >> /var/log/colte/hss.log 2>&1"
Restart=always
User=colte
Group=colte
Environment=PATH=/usr/bin:/usr/local/bin
Environment=OPENAIRCN_DIR=/home/colte/colte/epc
WorkingDirectory=/home/colte/colte/epc
[Install]
WantedBy=multi-user.target
