[Unit]
Description=CoLTE MME
After=network.target hss.service
Requires=network.target hss.service
PartOf=epc.service

[Service]
ExecStartPre=/bin/bash -c "sleep 2"
ExecStart=/bin/bash -c "/home/colte/colte/epc/scripts/run_mme"
Restart=always
RestartSec=5
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/bin
Environment=OPENAIRCN_DIR=/home/colte/colte/epc
WorkingDirectory=/home/colte/colte/epc
Type=simple

[Install]
WantedBy=epc.service
