[Unit]
Description=SPGW NAT to Internet
After=network.target spgw.service
Requires=network.target spgw.service
PartOf=epc.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/colte/colte/epc/spencer_configs/iptables.sh"
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=epc.service