<main role="main" class="container">
    <div class="card mb-3">
      <div class="card-header">
        {{translate "Free Services"}}
      </div>
      <div class="card-body">
          <p><a href="http://media.bokondini" class="btn btn-primary btn-sm">{{translate "Movies"}}</a></p>
          <p><a href="http://wiki.bokondini" class="btn btn-primary btn-sm">Wikipedia</a></p>
          <p><a href="http://maps.bokondini" class="btn btn-primary btn-sm">{{translate "Maps"}}</a></p>
          <p><a href="http://chat.bokondini" class="btn btn-primary btn-sm">{{translate "Chat"}}</a></p>
      </div>
    </div>
</main>
