<main role="main" class="container">
    <div class="card mb-3">
      <div class="card-header">
        Account
      </div>
      <div class="card-body">
        <p>Current Balance: ${{balance}}</p>
        <p>Current Data: {{data_balance}} Bytes</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Packages
      </div>
      <div class="card-body">
        <form action="/purchase/purchase" method="post">
          <p>10MB for $5<button name="package" value="0" type="submit" class="btn btn-primary">Purchase</button></p>
          <p>100MB for $15<button name="package" value="1" type="submit" class="btn btn-primary">Purchase</button></p>
          <p>1GB for $25<button name="package" value="2" type="submit" class="btn btn-primary">Purchase</button></p>
        </form>
      </div>
    </div>
</main>
