<main role="main" class="container">
    <div class="card mb-3">
      <div class="card-header">
        Free Services
      </div>
      <div class="card-body">
          <p><a href="media.bokondini" class="btn btn-primary btn-sm">Movies</a></p>
          <p><a href="maps.bokondini" class="btn btn-primary btn-sm">Maps</a></p>
      </div>
    </div>
</main>
