Package: colte-spgw
Version: 0.9.1
Maintainer: sevilla@cs.washington.edu
Architecture: amd64
Description: The OpenAirInterface SPGW
Depends: libmysqlclient20, libconfig9, colte-liblfds, colte-libgtpnl
