[Unit]
Description=CoLTE HSS
After=mysql.service
Requires=mysql.service
PartOf=colte-epc.service

[Service]
ExecStart=/usr/bin/oai_hss
Restart=always
RestartSec=2
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/bin
Type=simple

[Install]
WantedBy=multi-user.target
