[Unit]
Description=Universal Media Server (UMS)

[Service]
ExecStart=/bin/bash -c "/usr/bin/ums/UMS.sh"
Restart=always
RestartSec=5
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/usr/bin/ums

[Install]
WantedBy=multi-user.target
