{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">

    {% if title %}
      <title>{{ title }} - OurTube</title>
    {% else %}
      <title>OurTube</title>
    {% endif %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--Header Scripts-->
    <script src="{% static 'js/headerscripts.js' %}"></script>

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
