<h3> REGISTER </h3>

<form name="form" method="POST" action="" id="form" style="margin: 0">
  {% csrf_token %}
<!--   <input id="name_box" type="text" name="name_box" placeholder="Full Name">
  <input id="phone_box" type="text" name="phone_box" placeholder="Phone Number">
  <input id="loc_box" type="text" name="loc_box" placeholder="Describe Location"> --> 
  {{ form }}
  <button class="btn btn-md btn-secondary" id="register_submit" type="submit">Register</button>
</form>

<!-- {% if most_recent_entries %}
    <ul>
    {% for person in most_recent_entries %}
        <li><a href="/{{ person.id }}/">{{ person.name_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No people are available.</p>
{% endif %} -->