Package: colte-webgui
Version: 0.9.8
Maintainer: sevilla@cs.washington.edu
Architecture: amd64
License: BSD
Description: WebGUI for CoLTE users to check balance, buy/sell data, etc.
Depends: nodejs, colte-db (>= 0.9.2), colte-conf

