Package: colte-webservices
Version: 0.9.1
Maintainer: sevilla@cs.washington.edu
Architecture: amd64
Description: CoLTE Basic Webservices
Depends: bind9, bind9utils, nginx, colte-webgui (>= 0.9.2), colte-conf (>= 0.9.2)
