[Unit]
Description=CoLTE NAT to Internet
After=networking.service

[Service]
Type=oneshot
ExecStart=/bin/bash/coltenat start
ExecStop=/bin/bash/coltenat stop
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
