<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <script src="/javascripts/check.js"></script>

  <title>{{title}}</title>
</head>
<body>
  <main role="main" class="container">
    <div class="card-group">
      <!-- KOLIBRI -->
      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Khan Academy</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="kolibri">
            <label class="custom-control-label" for="kolibri"></label>
          </div>
          <button type="button" class="btn btn-primary btn-sm install" hidden>Install</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <div class="card">
        <img src="/photos/ourtube-temp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OurTube</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="ourtube">
            <label class="custom-control-label" for="ourtube"></label>
          </div>
          <button type="button" class="btn btn-primary btn-sm install" hidden>Install</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <!-- EXAMPLE STANDARD SERVICE ADDITION -->
      <!--
      <div class="card">
        <img src="<SERVICE LOGO>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Webadmin</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="<SERVICE NAME>">
            <label class="custom-control-label" for="<SERVICE NAME>"></label>
          </div>
          <button type="button" class="btn btn-primary btn-sm install" hidden>Install</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>
      -->
    </div>
  </main>
</body>

</html>