<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <script src="/javascripts/check.js"></script>

  <title>{{title}}</title>
</head>

<body>
  <main role="main" class="container">
    <div class="card-group">
      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Khan Academy</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="kolibri" disabled>
            <label class="custom-control-label" for="kolibri"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Other Webservice</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="customSwitch2" disabled>
            <label class="custom-control-label" for="customSwitch2"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Other Webservice</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="customSwitch3" disabled>
            <label class="custom-control-label" for="customSwitch3"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Khan Academy</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="customSwitch4" disabled>
            <label class="custom-control-label" for="customSwitch4"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Other Webservice</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="customSwitch5" disabled>
            <label class="custom-control-label" for="customSwitch5"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>

      <div class="card">
        <img src="/photos/KA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Other Webservice</h5>
          <p class="card-text"></p>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input checkbox" id="customSwitch6" disabled>
            <label class="custom-control-label" for="customSwitch6"></label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated at N/A</small>
        </div>
      </div>
    </div>
  </main>
</body>

</html>