[Unit]
Description=Video Webapp

[Service]
ExecStart=/usr/bin/video_webapp/start_webapp
Restart=always
RestartSec=5
WorkingDirectory=/usr/bin/video_webapp

[Install]
WantedBy=multi-user.target